# Specify the server port
PORT=3000

# Specify database credentials
DB_URL=postgres://username:password@localhost:5432/database_name

# Authentication
BETTER_AUTH_SECRET=replace-this
BETTER_AUTH_URL=http://localhost
FRONTEND_URL=http://localhost:5000/

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Service config - Groups
MAX_GROUP_SIZE=6 # Maximum number of children per teacher/group